@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/placeholders';

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: rgb(230, 229, 229);
}

#app {
  width: 100vw;
  height: 100vh;
  min-height: 40vw;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

#main {
  background-image: url(./assets/talent-calc-bg.png);
  width: 93vw;
  height: 35vw;
  margin: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 1vw solid $dark-grey;
}

#title {
  width: 90vw;
  height: 3vw;
  align-self: center;
  text-align: center;
  font-size: 2.5vw;
  padding: 1vw 0;
  background-color: $dark-grey;
  border-radius: 0.2vw;
}

#paths {
  height: 25vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#talent-1 {
  @include talent(0%, 14.3%, 28.7%, 43%);
}

#talent-2 {
  @include talent(57.3%, 71.7%, 86%, 100%);
}

#points {
  width: 15vw;
  height: 4vw;
  padding: 1vw 0 2vw 0;
  background-color: rgb(12, 12, 12);
  border: 2px solid rgb(19, 19, 19);
  border-radius: 0.2vw;
  margin: 1vw;
  .spent {
    font-size: 2vw;
  }
  .label {
    font-size: 2vw;
    color: rgb(62, 79, 121);
  }
  text-align: center;
}

//Verticle mode for thin views
@media (max-width: 800px) and (min-height: 500px) {
  #main {
    height: 93vh;
    width: 35vh;
    margin: 2vh;
    flex-direction: column;
  }

  #paths {
    flex-direction: row;
    height: 60vh;
    width: 25vh;
    justify-content: space-between;
  }

  #title {
    width: 32vh;
    height: 5vh;
    font-size: 2vh;
  }

  #talent-1,
  #talent-2 {
    flex-direction: column;
    .name {
      font-size: 1vh;
      width: 10vh;
      height: 1vh;
      padding: 1vh 0;
      text-align: center;
    }
    .path {
      width: 5vh;
      height: 55vh;
    }
    .progress-bar {
      height: 10.6vh;
      width: 1vh;
      border-right: $dark-border;
      border-left: $dark-border;
      border-top: none;
      border-bottom: none;
      top: 0;
      right: -1.8vh;
      &.highlighted {
        border-right: $light-border;
        border-left: $light-border;
        border-top: none;
        border-bottom: none;
      }
    }
    .sprite {
      width: 4.4vh;
      height: 4.4vh;
      margin: 0.3vh;
    }
    .level {
      width: 5vh;
      height: 5vh;
    }
    &:hover {
      .next {
        border-right: $light-border;
        border-left: $light-border;
        border-top: none;
        border-bottom: none;
      }
    }
  }

  #points {
    width: 15vh;
    height: 4vh;
    padding: 1vh 0 2vh 0;
    border-radius: 0.2vh;
    margin: 1vh;
    .spent {
      font-size: 2vh;
    }
    .label {
      font-size: 2vh;
    }
  }
}
