#talent-2:hover .progress-bar.next, #talent-1:hover .progress-bar.next, #talent-2 .highlighted.progress-bar, #talent-1 .highlighted.progress-bar {
  background: rgba(70, 70, 70, 0.796);
  border-bottom: 2px solid #525252;
  border-top: 2px solid #525252;
}

#talent-2 .progress-bar, #talent-1 .progress-bar {
  width: 10.6666666667vw;
  height: 1vw;
  display: inline-block;
  position: relative;
  top: -2vw;
  z-index: 2;
  background: rgba(33, 33, 33, 0.762);
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
}
#talent-2 .level, #talent-1 .level {
  content: "";
  width: 5vw;
  height: 5vw;
  background: linear-gradient(#525252 50%, #3a3f44 50% 52%, #525252);
  z-index: 5;
  position: relative;
  display: inline-block;
  border: 1px solid #414141;
}

#talent-2 .sprite, #talent-1 .sprite {
  width: 4.4vw;
  height: 4.4vw;
  background-image: url(./assets/talent-icons-sprite.png);
  background-size: 800%;
  margin: 0.3vw;
  position: relative;
  z-index: 10;
}
#talent-2 .sprite:hover, #talent-1 .sprite:hover {
  background-position-y: 0px;
  cursor: pointer;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #e6e5e5;
}

body {
  background-color: black;
}

#app {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  min-height: 40vw;
  min-width: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#main {
  background-image: url(./assets/talent-calc-bg.png);
  width: 93vw;
  height: 35vw;
  margin: 2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  border: 1vw solid #1a1a1a;
}

#title {
  width: 90vw;
  height: 3vw;
  align-self: center;
  text-align: center;
  font-size: 2.5vw;
  padding: 1vw 0;
  background-color: #1a1a1a;
  border-radius: 0.2vw;
}

#paths {
  height: 25vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#talent-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
#talent-1 .sprite {
  background-position-y: 100%;
}
#talent-1 .name {
  font-size: 1vw;
  width: 10vw;
  height: 1vh;
}
#talent-1 .path {
  width: 55vw;
  height: 5vw;
}
#talent-1 .one .sprite {
  background-position-x: 0%;
}
#talent-1 .two .sprite {
  background-position-x: 14.3%;
}
#talent-1 .three .sprite {
  background-position-x: 28.7%;
}
#talent-1 .four .sprite {
  background-position-x: 43%;
}
#talent-1 .selected {
  background: linear-gradient(#66b5fa 50%, #23446c 50% 52%, #66b5fa);
  box-shadow: 0 0 5px #66b5fa;
}
#talent-1 .selected .sprite {
  background-position-y: 0%;
}

#talent-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
#talent-2 .sprite {
  background-position-y: 100%;
}
#talent-2 .name {
  font-size: 1vw;
  width: 10vw;
  height: 1vh;
}
#talent-2 .path {
  width: 55vw;
  height: 5vw;
}
#talent-2 .one .sprite {
  background-position-x: 57.3%;
}
#talent-2 .two .sprite {
  background-position-x: 71.7%;
}
#talent-2 .three .sprite {
  background-position-x: 86%;
}
#talent-2 .four .sprite {
  background-position-x: 100%;
}
#talent-2 .selected {
  background: linear-gradient(#66b5fa 50%, #23446c 50% 52%, #66b5fa);
  box-shadow: 0 0 5px #66b5fa;
}
#talent-2 .selected .sprite {
  background-position-y: 0%;
}

#points {
  width: 15vw;
  height: 4vw;
  padding: 1vw 0 2vw 0;
  background-color: #0c0c0c;
  border: 2px solid #131313;
  border-radius: 0.2vw;
  margin: 1vw;
  text-align: center;
}
#points .spent {
  font-size: 2vw;
}
#points .label {
  font-size: 2vw;
  color: #3e4f79;
}

@media (max-width: 800px) and (min-height: 500px) {
  #main {
    height: 93vh;
    width: 35vh;
    margin: 2vh;
    flex-direction: column;
  }

  #paths {
    flex-direction: row;
    height: 60vh;
    width: 25vh;
    justify-content: space-between;
  }

  #title {
    width: 32vh;
    height: 5vh;
    font-size: 2vh;
  }

  #talent-1,
#talent-2 {
    flex-direction: column;
  }
  #talent-1 .name,
#talent-2 .name {
    font-size: 1vh;
    width: 10vh;
    height: 1vh;
    padding: 1vh 0;
    text-align: center;
  }
  #talent-1 .path,
#talent-2 .path {
    width: 5vh;
    height: 55vh;
  }
  #talent-1 .progress-bar,
#talent-2 .progress-bar {
    height: 10.6vh;
    width: 1vh;
    border-right: 2px solid #1a1a1a;
    border-left: 2px solid #1a1a1a;
    border-top: none;
    border-bottom: none;
    top: 0;
    right: -1.8vh;
  }
  #talent-1 .progress-bar.highlighted,
#talent-2 .progress-bar.highlighted {
    border-right: 2px solid #525252;
    border-left: 2px solid #525252;
    border-top: none;
    border-bottom: none;
  }
  #talent-1 .sprite,
#talent-2 .sprite {
    width: 4.4vh;
    height: 4.4vh;
    margin: 0.3vh;
  }
  #talent-1 .level,
#talent-2 .level {
    width: 5vh;
    height: 5vh;
  }
  #talent-1:hover .next,
#talent-2:hover .next {
    border-right: 2px solid #525252;
    border-left: 2px solid #525252;
    border-top: none;
    border-bottom: none;
  }

  #points {
    width: 15vh;
    height: 4vh;
    padding: 1vh 0 2vh 0;
    border-radius: 0.2vh;
    margin: 1vh;
  }
  #points .spent {
    font-size: 2vh;
  }
  #points .label {
    font-size: 2vh;
  }
}

/*# sourceMappingURL=main.css.map */
